/* h1 {
    color: tomato;
}

* {
    border: 5px solid olive;
} */

.tomatoColor {
    color: tomato;
    font-size: 90px;
    background-color: bisque;
    font-family: Verdana, sans-serif;
    text-shadow: 4px 2px 5px olive;
}

.oliveColor {
    color: olive;
}

#tomatoColor {
    color: olive;
    font-size: 90px;
    background-color: bisque;
    font-family: Verdana, sans-serif;
}